/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-sep-2016, 10:33:21
    Author     : maril
*/
img{
    float: left;
}
p{
    text-align: center;
    width: 15%;
}

.b{
   float: left;
   left: 0;
}
.boton{
    left: 30%;
    background-color: pink;
}
