/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-sep-2016, 9:42:12
    Author     : maril
*/
body{
    margin: auto;
    padding-top: 100px;
    background-color: paleturquoise;
    text-align: center;
}
