/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-oct-2016, 13:08:43
    Author     : maril
*/
table{
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}
table, tr, td{
    border: 1px solid blue; 
}
tr.negrita{
   font-weight: bold;
}


